@{
    ViewBag.Title = "Home Page";
}

<h3>We suggest the following:</h3>

<ol>
    <li>@Html.ActionLink("SimpleApp", "SimpleApp")</li>

    <li>@Html.ActionLink("GreetingController", "GreetingController")</li>

    <li>@Html.ActionLink("TwoWayBinding", "TwoWayBinding")</li>

    <li>@Html.ActionLink("Blogger", "Blogger")</li>

    <li>@Html.ActionLink("ApplyInAction", "ApplyInAction")</li>

    <li>@Html.ActionLink("EventsInAction", "EventsInAction")</li>

    <li>@Html.ActionLink("MultipleViews","MultipleViews")</li>

    <li>@Html.ActionLink("UIRoutting", "UIRoutting")</li>

    <li>@Html.ActionLink("Validation", "Validation")</li>

    <li>@Html.ActionLink("ng-Form", "ngform")</li>

    <li>@Html.ActionLink("Promise", "Promise")</li>

    <li>@Html.ActionLink("WeatherService", "WeatherService")</li>


</ol>